In [1]:
import pandas as pd
import numpy as np
import re
from collections import Counter
import string
from sklearn.feature_extraction import stop_words

In [2]:
data = pd.read_csv('GSAF5.csv', encoding = 'latin')
data.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [3]:
def supprespace(x):
    if type(x) is str:
        return x.strip()
    return x
data = data.applymap(supprespace)

data = data.drop_duplicates() #(subset = ['colonne(s) sur laquelle baser le drop'])

In [4]:
#évalution taille fichier
print(data['Case Number'].count())

5992

In [5]:
#vérifie qu'il n'y a pas de colonnes vides
null_cols = data.isnull().sum()
pourcent_col = null_cols / data['Case Number'].count()*100
print("Poids des valeurs nulles dans chacun des champs")
print(pourcent_col)

Poids des valeurs nulles dans chacun des champs
Case Number                0.000000
Date                       0.000000
Year                       0.000000
Type                       0.000000
Country                    0.717623
Area                       6.708945
Location                   8.277704
Activity                   8.795060
Name                       3.337784
Sex                        9.462617
Age                       44.742991
Injury                     0.450601
Fatal (Y/N)                0.317089
Time                      53.621495
Species                   48.965287
Investigator or Source     0.250334
pdf                        0.000000
href formula               0.016689
href                       0.050067
Case Number.1              0.000000
Case Number.2              0.000000
original order             0.000000
Unnamed: 22               99.983311
Unnamed: 23               99.966622
dtype: float64

In [6]:
#checke le contenu des colonnes presque vides
data[data['Unnamed: 22'].fillna(0) != 0]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1247,2006.06.18,18-Jun-06,2006,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre Beach, Olinda",Body boarding,Humberto Pessoa Batista,M,...,NaN,globalsurfnews.com,2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.06.18,2006.06.18,4746,stopped here,NaN

In [7]:
data[data['Unnamed: 23'].fillna(0) != 0]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
4182,1952.07.13,13-Jul-52,1952,Provoked,USA,California,"San Diego, San Diego County",Fishing,"Gerald Howard, on board sportsfishing boat Ter...",M,...,NaN,"L.A. Times, 7/14/1952",1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.07.13,1952.07.13,1811,NaN,Teramo
5585,1879.03.10,10-Mar-1879,1879,Invalid,AUSTRALIA,New South Wales,Near Sydney,The steamship Bonnie Dundee lost in collision,Cabin boy of the Bonnie Dundee,M,...,NaN,"Star, 3/22/1879",1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1879.03.10,1879.03.10,408,NaN,change filename

In [8]:
#les colonnes href, href formula et pdf contiennent des infos redondantes.
#Comparaison des colonnes pour sélectionner laquelle conserver.

#reconstitue un URL à partir de la colonne pdf
urlreconstitue = 'http://sharkattackfile.net/spreadsheets/pdf_directory/' + data['pdf']
#compare cet URL reconstitué avec les contenus des colonnes href et href formula
filthref = ~data['href'].eq(urlreconstitue)
filtformula = ~data['href formula'].eq(urlreconstitue)

#calcul de quelques indicateurs de propreté des champs href
FauxvsPDFhref = data[filthref].size
OKformathref = data['href'].astype(str).apply(lambda x: not x.endswith('.pdf'))
valueshref = data[OKformathref].size

#calcul de quelques indicateurs de propreté du champ href formula
FauxvsPDFformula = data[filtformula].size
OKformatformula = data['href formula'].astype(str).apply(lambda x: not x.endswith('.pdf'))
valuesformula = data[OKformatformula].size

#comparaison de la propreté des 2 champs
print("nb val incohérentes entre le champ pdf et le champ href : " + str(FauxvsPDFhref) + " vs " + str(FauxvsPDFformula) + " avec le champ href formula")
print("nb val qui terminent correctement :" + str(valueshref) + " dans le champ href, vs " + str(valuesformula) + " dans le champ href formula")

nb val incohérentes entre le champ pdf et le champ href : 1296 vs 120 avec le champ href formula
nb val qui terminent correctement :840 dans le champ href, vs 672 dans le champ href formula

In [9]:
##Compte tenu des résultats précédents : on garde le champ hrefformula. => nettoyage de cette colonne avant suppression des autres.

# compléter les cellules vides de href formula par la valeur de href
data['href'] = data['href formula'].fillna(data['href'])

# remplacer les valeurs de href formula lorsqu'elles ne commencent pas comme il faut par celles de href
dataf = data['href'].apply(lambda x: not x.startswith('http'))
values = data[dataf]
data.loc[values.index, 'href formula'] = data.loc[values.index, 'href']

# remplacer les valeurs de href formula lorsqu'elles ne terminent pas comme il faut par celles de href
dataf = data['href'].apply(lambda x: not x.endswith('.pdf'))
values = data[dataf]
data.loc[values.index, 'href formula'] = data.loc[values.index, 'href']

#estimation du nombre d'améliorations possibles encore présentes
data[filtformula == True].shape[0]
print(data[filtformula == True]['href formula'])

241     http://sharkattackfile.net/spreadsheets/pdf_di...
448                    pdf-directory/2013.05.27.b-Ena.pdf
3019                                                  NaN
5906    Q93http://sharkattackfile.net/spreadsheets/pdf...
5991    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href formula, dtype: object

In [11]:
#récupère les dates en format 01-Janvier-(20)10
data['datecorr2'] = data['Date'].str.extract(r'([0-9]{2}-[A-Za-z]{4,}-[0-9]{2,4})')
#récupère les dates en format 01-Jan-(20)10
data['datecorr3'] = data['Date'].str.extract(r'([0-9]{2}-[A-Za-z]{3}-[0-9]{2,4})')
data['datecorr2'] = data['datecorr2'].fillna(data['datecorr3'])
#récupère les dates en format Jan(vier)-(20)10
data['datecorr3'] = data['Date'].str.extract(r'([A-Za-z]{3,}-[0-9]{2,4})')
data['datecorr2'] = data['datecorr2'].fillna('01-' + data['datecorr3'])

In [12]:
def unifdate(date):
    dateunif = []
    for i in date:
        if len(str(i)) == 9:
            i = i.replace('-0','-200').replace('-1','-201')
        if len(str(i)) == 9:
            i = i.replace('-2','-192').replace('-3','-193').replace('-4','-194').replace('-5','-195').replace('-6','-196').replace('-7','-197').replace('-8','-198').replace('-9','-199')
        dateunif.append (i)
    dateformatee = pd.DataFrame(dateunif)
    return dateformatee
data['datecorr2'] = unifdate(data['datecorr2'])
data['datecorr2'] = pd.to_datetime(data['datecorr2'])

In [13]:
#complète les valeurs manquantes par une date fictive
data['datecorr2'] = data['datecorr2'].fillna("01-Jan-2099")
    
data['datecorr2'] = pd.to_datetime(data['datecorr2']).dt.strftime('%Y.%m.%d')

In [14]:
Counter(data['datecorr2']).most_common()

[('2099.01.01', 523),
 ('1960.10.01', 6),
 ('1956.08.01', 6),
 ('2003.10.05', 5),
 ('2001.04.12', 5),
 ('1995.07.28', 5),
 ('1965.06.01', 5),
 ('2015.09.20', 4),
 ('2014.12.28', 4),
 ('2012.06.14', 4),
 ('2008.06.26', 4),
 ('2010.01.09', 4),
 ('2009.07.24', 4),
 ('2008.12.27', 4),
 ('2003.07.01', 4),
 ('1994.07.09', 4),
 ('1970.01.23', 4),
 ('1960.04.01', 4),
 ('1952.07.27', 4),
 ('1906.10.10', 4),
 ('2016.09.18', 3),
 ('2016.07.08', 3),
 ('2016.07.07', 3),
 ('2015.10.17', 3),
 ('2015.06.26', 3),
 ('2015.06.24', 3),
 ('2014.08.27', 3),
 ('2014.06.09', 3),
 ('2014.06.01', 3),
 ('2014.05.14', 3),
 ('2014.03.18', 3),
 ('2013.09.21', 3),
 ('2013.09.01', 3),
 ('2013.07.28', 3),
 ('2013.06.25', 3),
 ('2012.09.02', 3),
 ('2012.07.07', 3),
 ('2012.06.26', 3),
 ('2011.08.17', 3),
 ('2011.06.06', 3),
 ('2010.05.18', 3),
 ('2010.02.06', 3),
 ('2009.03.06', 3),
 ('2009.01.24', 3),
 ('2008.08.30', 3),
 ('2008.06.28', 3),
 ('2008.03.28', 3),
 ('2007.09.30', 3),
 ('2007.08.19', 3),
 ('2006.08.20', 3),
 ('2006.07.01', 3),
 ('2005.11.25', 3),
 ('2005.04.06', 3),
 ('2004.07.27', 3),
 ('2004.05.22', 3),
 ('2003.10.31', 3),
 ('2003.09.14', 3),
 ('2003.06.24', 3),
 ('2003.04.20', 3),
 ('2002.09.27', 3),
 ('2001.08.19', 3),
 ('2001.08.18', 3),
 ('2001.04.11', 3),
 ('2000.09.08', 3),
 ('1999.12.31', 3),
 ('1999.03.18', 3),
 ('1998.05.16', 3),
 ('1997.08.11', 3),
 ('1997.05.31', 3),
 ('1996.02.09', 3),
 ('1992.03.08', 3),
 ('1991.07.01', 3),
 ('1982.08.29', 3),
 ('1977.03.13', 3),
 ('1974.08.16', 3),
 ('1974.01.07', 3),
 ('1966.05.20', 3),
 ('1965.05.01', 3),
 ('1964.02.01', 3),
 ('1964.01.01', 3),
 ('1962.08.01', 3),
 ('1962.06.11', 3),
 ('1962.01.14', 3),
 ('1962.01.11', 3),
 ('1961.12.28', 3),
 ('1961.02.01', 3),
 ('1961.01.06', 3),
 ('1960.11.01', 3),
 ('1958.07.01', 3),
 ('1956.08.15', 3),
 ('1953.03.01', 3),
 ('1942.11.01', 3),
 ('1934.04.01', 3),
 ('2016.07.12', 3),
 ('1899.08.08', 3),
 ('1886.08.01', 3),
 ('1885.07.26', 3),
 ('2016.09.05', 2),
 ('2016.08.29', 2),
 ('2016.07.28', 2),
 ('2016.07.26', 2),
 ('2016.07.23', 2),
 ('2016.07.16', 2),
 ('2016.07.06', 2),
 ('2016.06.23', 2),
 ('2016.06.21', 2),
 ('2016.06.15', 2),
 ('2016.06.05', 2),
 ('2016.06.02', 2),
 ('2016.05.29', 2),
 ('2016.05.21', 2),
 ('2016.04.07', 2),
 ('2016.03.28', 2),
 ('2016.02.10', 2),
 ('2016.01.24', 2),
 ('2015.12.21', 2),
 ('2015.11.15', 2),
 ('2015.11.10', 2),
 ('2015.11.01', 2),
 ('2015.10.09', 2),
 ('2015.10.05', 2),
 ('2015.09.01', 2),
 ('2015.08.29', 2),
 ('2015.08.22', 2),
 ('2015.08.18', 2),
 ('2015.07.26', 2),
 ('2015.07.23', 2),
 ('2015.07.04', 2),
 ('2015.06.30', 2),
 ('2015.06.27', 2),
 ('2015.06.25', 2),
 ('2015.06.14', 2),
 ('2015.05.29', 2),
 ('2015.03.29', 2),
 ('2015.01.19', 2),
 ('2015.01.01', 2),
 ('2014.12.29', 2),
 ('2014.11.08', 2),
 ('2014.10.17', 2),
 ('2014.10.05', 2),
 ('2014.10.03', 2),
 ('2014.10.02', 2),
 ('2014.09.09', 2),
 ('2014.08.29', 2),
 ('2014.08.09', 2),
 ('2014.08.02', 2),
 ('2014.08.01', 2),
 ('2014.07.05', 2),
 ('2014.06.18', 2),
 ('2014.04.12', 2),
 ('2014.04.04', 2),
 ('2014.03.22', 2),
 ('2014.02.07', 2),
 ('2013.11.07', 2),
 ('2013.10.26', 2),
 ('2013.09.29', 2),
 ('2013.09.07', 2),
 ('2013.08.31', 2),
 ('2013.08.26', 2),
 ('2013.08.25', 2),
 ('2013.07.29', 2),
 ('2013.06.06', 2),
 ('2013.05.27', 2),
 ('2013.05.23', 2),
 ('2013.05.08', 2),
 ('2013.04.13', 2),
 ('2013.04.02', 2),
 ('2013.03.21', 2),
 ('2013.03.16', 2),
 ('2013.03.10', 2),
 ('2013.02.21', 2),
 ('2012.11.04', 2),
 ('2012.10.18', 2),
 ('2012.09.08', 2),
 ('2012.09.06', 2),
 ('2012.07.31', 2),
 ('2012.07.30', 2),
 ('2012.07.23', 2),
 ('2012.06.22', 2),
 ('2012.06.02', 2),
 ('2012.04.19', 2),
 ('2012.03.14', 2),
 ('2012.03.06', 2),
 ('2012.01.18', 2),
 ('2011.12.21', 2),
 ('2011.12.07', 2),
 ('2011.10.29', 2),
 ('2011.09.28', 2),
 ('2011.09.24', 2),
 ('2011.09.20', 2),
 ('2011.09.17', 2),
 ('2011.09.11', 2),
 ('2011.09.04', 2),
 ('2011.08.28', 2),
 ('2011.08.24', 2),
 ('2011.08.16', 2),
 ('2011.07.13', 2),
 ('2011.07.07', 2),
 ('2011.06.19', 2),
 ('2011.05.21', 2),
 ('2011.05.13', 2),
 ('2011.03.21', 2),
 ('2010.12.01', 2),
 ('2010.11.30', 2),
 ('2010.11.27', 2),
 ('2010.10.28', 2),
 ('2010.10.23', 2),
 ('2010.10.02', 2),
 ('2010.09.03', 2),
 ('2010.08.10', 2),
 ('2010.08.07', 2),
 ('2010.08.02', 2),
 ('2010.07.17', 2),
 ('2010.07.16', 2),
 ('2010.07.02', 2),
 ('2010.06.25', 2),
 ('2010.02.01', 2),
 ('2010.01.22', 2),
 ('2009.12.20', 2),
 ('2009.12.18', 2),
 ('2009.12.05', 2),
 ('2009.11.16', 2),
 ('2009.07.22', 2),
 ('2009.07.11', 2),
 ('2009.06.02', 2),
 ('2009.05.16', 2),
 ('2009.04.06', 2),
 ('2009.03.19', 2),
 ('2009.03.17', 2),
 ('2009.03.01', 2),
 ('2009.02.07', 2),
 ('2009.01.11', 2),
 ('2009.01.10', 2),
 ('2009.01.01', 2),
 ('2006.12.06', 2),
 ('2008.11.09', 2),
 ('2008.09.28', 2),
 ('2008.09.06', 2),
 ('2008.09.01', 2),
 ('2008.08.24', 2),
 ('2008.07.30', 2),
 ('2008.07.26', 2),
 ('2008.07.25', 2),
 ('2008.07.24', 2),
 ('2008.06.01', 2),
 ('2008.05.24', 2),
 ('2008.05.10', 2),
 ('2008.05.07', 2),
 ('2008.04.28', 2),
 ('2008.04.26', 2),
 ('2008.04.20', 2),
 ('2008.04.08', 2),
 ('2007.12.21', 2),
 ('2007.09.27', 2),
 ('2007.09.22', 2),
 ('2007.09.16', 2),
 ('2007.09.03', 2),
 ('2007.08.28', 2),
 ('2007.08.09', 2),
 ('2007.07.19', 2),
 ('2007.07.18', 2),
 ('2007.07.17', 2),
 ('2007.07.01', 2),
 ('2007.06.30', 2),
 ('2007.05.07', 2),
 ('2007.04.20', 2),
 ('2007.03.31', 2),
 ('2007.02.03', 2),
 ('2007.01.25', 2),
 ('2006.10.01', 2),
 ('2006.09.03', 2),
 ('2006.09.02', 2),
 ('2006.08.29', 2),
 ('2006.08.22', 2),
 ('2006.08.01', 2),
 ('2006.07.31', 2),
 ('2006.07.29', 2),
 ('2006.07.17', 2),
 ('2006.07.09', 2),
 ('2006.07.08', 2),
 ('2006.04.09', 2),
 ('2006.02.12', 2),
 ('2006.02.01', 2),
 ('2006.01.28', 2),
 ('2005.11.02', 2),
 ('2005.09.02', 2),
 ('2005.08.24', 2),
 ('2005.08.01', 2),
 ('2005.07.17', 2),
 ('2005.07.15', 2),
 ('2005.07.01', 2),
 ('2005.05.02', 2),
 ('2005.04.16', 2),
 ('2005.03.25', 2),
 ('2004.11.11', 2),
 ('2004.10.30', 2),
 ('2004.10.09', 2),
 ('2004.08.01', 2),
 ('2004.07.28', 2),
 ('2004.07.02', 2),
 ('2004.06.26', 2),
 ('2004.06.10', 2),
 ('2004.05.23', 2),
 ('2004.04.13', 2),
 ('2004.03.31', 2),
 ('2004.03.27', 2),
 ('2004.01.23', 2),
 ('2004.01.21', 2),
 ('2004.01.03', 2),
 ('2003.12.13', 2),
 ('2003.11.30', 2),
 ('2003.11.12', 2),
 ('2003.11.06', 2),
 ('2003.11.01', 2),
 ('2003.09.13', 2),
 ('2003.07.05', 2),
 ('2003.04.23', 2),
 ('2003.04.21', 2),
 ('2003.02.15', 2),
 ('2002.11.28', 2),
 ('2002.10.05', 2),
 ('2002.09.21', 2),
 ('2002.09.16', 2),
 ('2002.07.10', 2),
 ('2002.06.20', 2),
 ('2002.06.13', 2),
 ('2002.06.09', 2),
 ('2002.05.31', 2),
 ('2002.05.22', 2),
 ('2002.05.21', 2),
 ('2002.04.01', 2),
 ('2002.03.25', 2),
 ('2002.03.15', 2),
 ('2002.01.30', 2),
 ('2002.01.01', 2),
 ('2001.09.30', 2),
 ('2001.09.15', 2),
 ('2001.09.07', 2),
 ('2001.09.03', 2),
 ('2001.07.15', 2),
 ('2001.07.06', 2),
 ('2001.04.13', 2),
 ('2001.04.08', 2),
 ('2001.01.24', 2),
 ('2000.11.06', 2),
 ('2000.10.06', 2),
 ('2000.09.16', 2),
 ('2000.09.15', 2),
 ('2000.09.10', 2),
 ('2000.08.21', 2),
 ('2000.07.16', 2),
 ('2000.07.15', 2),
 ('2000.07.04', 2),
 ('2000.07.02', 2),
 ('2000.06.09', 2),
 ('2000.05.07', 2),
 ('1999.11.01', 2),
 ('1999.10.30', 2),
 ('1999.09.04', 2),
 ('1999.08.05', 2),
 ('1999.03.14', 2),
 ('1999.01.03', 2),
 ('1998.11.02', 2),
 ('1998.10.01', 2),
 ('1998.08.01', 2),
 ('1998.07.06', 2),
 ('1998.05.29', 2),
 ('1998.04.01', 2),
 ('1998.01.25', 2),
 ('1997.12.28', 2),
 ('1997.12.25', 2),
 ('1997.11.05', 2),
 ('1997.10.28', 2),
 ('1997.08.14', 2),
 ('1997.08.02', 2),
 ('1997.02.28', 2),
 ('1996.12.01', 2),
 ('1996.10.28', 2),
 ('1996.10.03', 2),
 ('1996.09.06', 2),
 ('1996.09.02', 2),
 ('1996.09.01', 2),
 ('1996.07.23', 2),
 ('1996.07.04', 2),
 ('1996.04.25', 2),
 ('1995.11.25', 2),
 ('1995.09.30', 2),
 ('1995.09.03', 2),
 ('1995.08.31', 2),
 ('1995.08.26', 2),
 ('1995.08.22', 2),
 ('1995.08.10', 2),
 ('1995.08.01', 2),
 ('1995.06.17', 2),
 ('1995.04.09', 2),
 ('1994.12.09', 2),
 ('1994.07.08', 2),
 ('1994.05.31', 2),
 ('1994.03.23', 2),
 ('1994.01.31', 2),
 ('1993.11.01', 2),
 ('1993.09.16', 2),
 ('1993.08.19', 2),
 ('1993.08.15', 2),
 ('1993.08.01', 2),
 ('1993.06.11', 2),
 ('1993.06.01', 2),
 ('1992.07.08', 2),
 ('1992.06.28', 2),
 ('1992.01.29', 2),
 ('1991.11.26', 2),
 ('1991.06.07', 2),
 ('1991.04.16', 2),
 ('1990.10.30', 2),
 ('1990.08.19', 2),
 ('1990.05.10', 2),
 ('1989.09.09', 2),
 ('1989.08.22', 2),
 ('1989.01.26', 2),
 ('1989.01.20', 2),
 ('1988.09.13', 2),
 ('1988.08.22', 2),
 ('1988.07.04', 2),
 ('1988.06.16', 2),
 ('1988.04.15', 2),
 ('1988.04.14', 2),
 ('1987.07.12', 2),
 ('1987.03.30', 2),
 ('1986.12.06', 2),
 ('1986.10.01', 2),
 ('1986.09.01', 2),
 ('1985.09.08', 2),
 ('1985.07.25', 2),
 ('1985.01.01', 2),
 ('1984.10.21', 2),
 ('1984.09.30', 2),
 ('1984.09.22', 2),
 ('1984.07.24', 2),
 ('1984.07.01', 2),
 ('1984.06.03', 2),
 ('1983.11.10', 2),
 ('1983.08.20', 2),
 ('1983.08.13', 2),
 ('1983.07.25', 2),
 ('1983.06.15', 2),
 ('1983.04.02', 2),
 ('1982.09.30', 2),
 ('1982.07.24', 2),
 ('1982.07.01', 2),
 ('1982.06.26', 2),
 ('1982.02.14', 2),
 ('1982.02.07', 2),
 ('1981.12.13', 2),
 ('1981.10.19', 2),
 ('1981.09.03', 2),
 ('1981.08.24', 2),
 ('1981.08.10', 2),
 ('1980.07.01', 2),
 ('1979.05.01', 2),
 ('1979.04.08', 2),
 ('1979.03.01', 2),
 ('1978.06.21', 2),
 ('1978.04.02', 2),
 ('1977.12.19', 2),
 ('1976.09.12', 2),
 ('1976.03.12', 2),
 ('1975.11.19', 2),
 ('1975.07.30', 2),
 ('1975.07.26', 2),
 ('1975.06.23', 2),
 ('1974.09.02', 2),
 ('1974.09.01', 2),
 ('1974.02.13', 2),
 ('1974.02.01', 2),
 ('1973.12.18', 2),
 ('1972.10.21', 2),
 ('1972.10.14', 2),
 ('1972.06.26', 2),
 ('1972.04.01', 2),
 ('1971.01.01', 2),
 ('1971.04.05', 2),
 ('1970.09.01', 2),
 ('1970.06.13', 2),
 ('1970.04.01', 2),
 ('1969.08.02', 2),
 ('1967.11.30', 2),
 ('1967.09.07', 2),
 ('1967.08.01', 2),
 ('1966.12.27', 2),
 ('1966.12.26', 2),
 ('1966.08.27', 2),
 ('1966.08.23', 2),
 ('1966.08.01', 2),
 ('1966.07.17', 2),
 ('1966.05.16', 2),
 ('1965.11.21', 2),
 ('1965.11.03', 2),
 ('1965.10.16', 2),
 ('1965.04.04', 2),
 ('1964.12.10', 2),
 ('1964.07.08', 2),
 ('1964.07.01', 2),
 ('1964.03.28', 2),
 ('1964.02.14', 2),
 ('1964.02.05', 2),
 ('1963.12.26', 2),
 ('1963.12.22', 2),
 ('1963.12.20', 2),
 ('1963.11.30', 2),
 ('1963.06.01', 2),
 ('1962.08.30', 2),
 ('1962.06.10', 2),
 ('1962.03.25', 2),
 ('1962.01.07', 2),
 ('1961.12.18', 2),
 ('1961.10.01', 2),
 ('1961.09.24', 2),
 ('1961.09.06', 2),
 ('1961.07.01', 2),
 ('1961.04.16', 2),
 ('1961.02.17', 2),
 ('1961.01.03', 2),
 ('1960.12.27', 2),
 ('1960.08.22', 2),
 ('1960.08.04', 2),
 ('1960.06.27', 2),
 ('1960.04.03', 2),
 ('1960.02.27', 2),
 ('1959.12.19', 2),
 ('1959.09.26', 2),
 ('1959.09.01', 2),
 ('1959.08.15', 2),
 ('1959.08.14', 2),
 ('1959.07.25', 2),
 ('1959.07.23', 2),
 ('1959.07.01', 2),
 ('1959.06.14', 2),
 ('1959.04.09', 2),
 ('1959.01.17', 2),
 ('1958.10.01', 2),
 ('1958.07.27', 2),
 ('1958.07.04', 2),
 ('1958.01.09', 2),
 ('1957.04.07', 2),
 ('1956.09.01', 2),
 ('1956.03.01', 2),
 ('1956.01.16', 2),
 ('1955.09.23', 2),
 ('1955.08.30', 2),
 ('1955.08.01', 2),
 ('1955.03.01', 2),
 ('1955.02.01', 2),
 ('1954.10.02', 2),
 ('1954.08.12', 2),
 ('1954.01.22', 2),
 ('1953.04.01', 2),
 ('1951.11.28', 2),
 ('1951.08.17', 2),
 ('1950.04.09', 2),
 ('1949.12.01', 2),
 ('1949.08.28', 2),
 ('1948.12.14', 2),
 ('1948.09.19', 2),
 ('1947.11.14', 2),
 ('1947.11.08', 2),
 ('1946.07.18', 2),
 ('1946.02.10', 2),
 ('1946.01.24', 2),
 ('1944.11.01', 2),
 ('1944.10.26', 2),
 ('1944.10.25', 2),
 ('1944.03.26', 2),
 ('1943.07.01', 2),
 ('1943.05.17', 2),
 ('1943.03.02', 2),
 ('1942.11.13', 2),
 ('1942.09.12', 2),
 ('1941.11.27', 2),
 ('1940.07.13', 2),
 ('1938.07.17', 2),
 ('1937.10.27', 2),
 ('1937.10.24', 2),
 ('1937.06.15', 2),
 ('1935.07.27', 2),
 ('1935.06.01', 2),
 ('1935.01.24', 2),
 ('1934.12.31', 2),
 ('1934.08.26', 2),
 ('1933.08.28', 2),
 ('1932.08.30', 2),
 ('1932.04.16', 2),
 ('1931.09.21', 2),
 ('1930.05.11', 2),
 ('1929.03.04', 2),
 ('1928.04.14', 2),
 ('1928.02.01', 2),
 ('1926.10.23', 2),
 ('1925.11.01', 2),
 ('1923.01.27', 2),
 ('1921.11.27', 2),
 ('1920.01.24', 2),
 ('2018.11.01', 2),
 ('2016.12.08', 2),
 ('2016.07.13', 2),
 ('1915.07.06', 2),
 ('1913.08.27', 2),
 ('1907.10.16', 2),
 ('1907.08.12', 2),
 ('1906.09.27', 2),
 ('1899.10.12', 2),
 ('1898.09.19', 2),
 ('1897.03.15', 2),
 ('1894.06.15', 2),
 ('1894.04.28', 2),
 ('1893.06.22', 2),
 ('1887.02.08', 2),
 ('1885.11.26', 2),
 ('1882.11.12', 2),
 ('1880.05.02', 2),
 ('1878.09.02', 2),
 ('1877.12.15', 2),
 ('1874.07.15', 2),
 ('1874.06.15', 2),
 ('1860.04.01', 2),
 ('1849.06.08', 2),
 ('1827.06.01', 2),
 ('1913.07.19', 2),
 ('2016.09.17', 1),
 ('2016.09.16', 1),
 ('2016.09.15', 1),
 ('2016.09.11', 1),
 ('2016.09.07', 1),
 ('2016.09.06', 1),
 ('2016.09.04', 1),
 ('2016.09.01', 1),
 ('2016.08.27', 1),
 ('2016.08.25', 1),
 ('2016.08.07', 1),
 ('2016.08.06', 1),
 ('2016.08.04', 1),
 ('2016.07.29', 1),
 ('2016.07.27', 1),
 ('2016.07.24', 1),
 ('2016.07.20', 1),
 ('2016.07.17', 1),
 ('2016.07.15', 1),
 ('2016.07.14', 1),
 ('2016.07.04', 1),
 ('2016.06.27', 1),
 ('2016.06.25', 1),
 ('2016.06.24', 1),
 ('2016.06.14', 1),
 ('2016.06.11', 1),
 ('2016.06.07', 1),
 ('2016.06.04', 1),
 ('2016.05.31', 1),
 ('2016.05.22', 1),
 ('2016.05.18', 1),
 ('2016.05.15', 1),
 ('2016.05.03', 1),
 ('2016.05.02', 1),
 ('2016.04.25', 1),
 ('2016.04.23', 1),
 ('2016.04.22', 1),
 ('2016.04.19', 1),
 ('2016.04.18', 1),
 ('2016.04.13', 1),
 ('2016.04.09', 1),
 ('2016.04.08', 1),
 ('2016.03.31', 1),
 ('2016.03.30', 1),
 ('2016.03.26', 1),
 ('2016.03.13', 1),
 ('2016.03.11', 1),
 ('2016.03.10', 1),
 ('2016.03.04', 1),
 ('2016.03.03', 1),
 ('2016.03.02', 1),
 ('2016.02.22', 1),
 ('2016.02.19', 1),
 ('2016.02.12', 1),
 ('2016.02.05', 1),
 ('2016.02.04', 1),
 ('2016.01.29', 1),
 ('2016.01.28', 1),
 ('2016.01.25', 1),
 ('2016.01.23', 1),
 ('2016.01.11', 1),
 ('2016.01.05', 1),
 ('2016.01.02', 1),
 ('2015.12.26', 1),
 ('2015.12.25', 1),
 ('2015.12.22', 1),
 ('2015.12.19', 1),
 ('2015.12.13', 1),
 ('2015.12.11', 1),
 ('2015.12.08', 1),
 ('2015.11.16', 1),
 ('2015.11.07', 1),
 ('2015.11.03', 1),
 ('2015.10.30', 1),
 ('2015.10.28', 1),
 ('2015.10.25', 1),
 ('2015.10.21', 1),
 ('2015.10.19', 1),
 ('2015.10.13', 1),
 ('2015.10.08', 1),
 ('2015.10.07', 1),
 ('2015.10.04', 1),
 ('2015.09.29', 1),
 ('2015.09.26', 1),
 ('2015.09.24', 1),
 ('2015.09.18', 1),
 ('2015.09.17', 1),
 ('2015.09.08', 1),
 ('2015.09.06', 1),
 ('2015.09.05', 1),
 ('2015.09.04', 1),
 ('2015.09.03', 1),
 ('2015.08.20', 1),
 ('2015.08.19', 1),
 ('2015.08.10', 1),
 ('2015.07.31', 1),
 ('2015.07.25', 1),
 ('2015.07.22', 1),
 ('2015.07.19', 1),
 ('2015.07.10', 1),
 ('2015.07.08', 1),
 ('2015.07.06', 1),
 ('2015.07.03', 1),
 ('2015.07.02', 1),
 ('2015.07.01', 1),
 ('2015.06.23', 1),
 ('2015.06.19', 1),
 ('2015.06.17', 1),
 ('2015.06.13', 1),
 ('2015.06.11', 1),
 ('2015.06.07', 1),
 ('2015.06.05', 1),
 ('2015.06.01', 1),
 ('2015.05.25', 1),
 ('2015.05.24', 1),
 ('2015.05.20', 1),
 ('2015.05.15', 1),
 ('2015.05.09', 1),
 ('2015.05.07', 1),
 ('2015.05.03', 1),
 ('2015.05.02', 1),
 ('2015.04.29', 1),
 ('2015.04.26', 1),
 ('2015.04.25', 1),
 ('2015.04.13', 1),
 ('2015.04.11', 1),
 ('2015.04.12', 1),
 ('2015.03.31', 1),
 ('2015.04.03', 1),
 ('2015.03.26', 1),
 ('2015.03.21', 1),
 ('2015.03.18', 1),
 ('2015.03.16', 1),
 ('2015.03.11', 1),
 ('2015.03.10', 1),
 ('2015.03.07', 1),
 ('2015.02.15', 1),
 ('2015.02.14', 1),
 ('2015.02.09', 1),
 ('2015.02.08', 1),
 ('2015.02.05', 1),
 ('2015.01.30', 1),
 ('2015.01.27', 1),
 ('2015.01.24', 1),
 ('2015.01.17', 1),
 ('2015.01.16', 1),
 ('2015.01.08', 1),
 ('2015.01.06', 1),
 ('2015.01.03', 1),
 ('2014.12.23', 1),
 ('2014.12.15', 1),
 ('2014.12.03', 1),
 ('2014.11.29', 1),
 ('2014.11.20', 1),
 ('2014.11.19', 1),
 ('2014.11.16', 1),
 ('2014.11.17', 1),
 ('2014.11.13', 1),
 ('2014.11.10', 1),
 ('2014.10.31', 1),
 ('2014.10.29', 1),
 ('2014.10.22', 1),
 ('2014.10.20', 1),
 ('2014.10.19', 1),
 ('2014.10.18', 1),
 ('2014.10.14', 1),
 ('2014.10.12', 1),
 ('2014.10.07', 1),
 ('2014.10.11', 1),
 ('2014.09.21', 1),
 ('2014.09.12', 1),
 ('2014.09.13', 1),
 ('2014.09.06', 1),
 ('2014.09.03', 1),
 ('2014.09.02', 1),
 ('2014.09.01', 1),
 ('2014.08.31', 1),
 ('2014.08.28', 1),
 ('2014.08.25', 1),
 ('2014.08.24', 1),
 ('2014.08.16', 1),
 ('2014.08.12', 1),
 ('2014.08.10', 1),
 ('2014.08.08', 1),
 ('2014.08.06', 1),
 ('2014.08.05', 1),
 ('2014.07.27', 1),
 ('2014.07.22', 1),
 ('2014.07.21', 1),
 ('2014.07.20', 1),
 ('2014.07.16', 1),
 ('2014.07.14', 1),
 ('2014.07.13', 1),
 ('2014.07.12', 1),
 ('2014.07.09', 1),
 ('2014.07.03', 1),
 ('2014.06.27', 1),
 ('2014.06.25', 1),
 ('2014.06.17', 1),
 ('2014.06.08', 1),
 ('2014.06.07', 1),
 ('2014.05.24', 1),
 ('2014.05.23', 1),
 ('2014.05.22', 1),
 ('2015.11.20', 1),
 ('2014.05.15', 1),
 ('2014.05.13', 1),
 ('2014.05.11', 1),
 ('2014.05.10', 1),
 ('2014.05.06', 1),
 ('2014.05.01', 1),
 ('2014.04.24', 1),
 ('2014.04.22', 1),
 ('2014.04.15', 1),
 ('2014.04.03', 1),
 ('2014.03.29', 1),
 ('2014.03.21', 1),
 ('2014.03.13', 1),
 ('2014.03.12', 1),
 ('2014.03.02', 1),
 ('2014.02.20', 1),
 ('2014.02.17', 1),
 ('2014.02.08', 1),
 ('2014.01.26', 1),
 ('2014.01.25', 1),
 ('2014.01.04', 1),
 ('2013.12.25', 1),
 ('2013.12.16', 1),
 ('2013.12.13', 1),
 ('2013.12.11', 1),
 ('2013.12.10', 1),
 ('2013.12.05', 1),
 ('2013.12.02', 1),
 ('2013.11.30', 1),
 ('2013.11.29', 1),
 ('2013.11.23', 1),
 ('2013.11.22', 1),
 ('2013.11.12', 1),
 ('2013.11.10', 1),
 ('2013.10.31', 1),
 ('2013.10.28', 1),
 ('2013.10.24', 1),
 ('2013.10.23', 1),
 ('2013.10.20', 1),
 ('2013.10.19', 1),
 ('2013.10.11', 1),
 ('2013.10.08', 1),
 ('2013.10.06', 1),
 ('2013.10.10', 1),
 ('2013.09.25', 1),
 ('2013.09.14', 1),
 ('2013.09.12', 1),
 ('2013.09.08', 1),
 ('2013.09.02', 1),
 ('2013.08.29', 1),
 ('2013.08.18', 1),
 ('2013.08.17', 1),
 ('2013.08.14', 1),
 ('2013.08.13', 1),
 ('2013.08.11', 1),
 ('2013.08.08', 1),
 ('2013.08.05', 1),
 ('2013.07.31', 1),
 ('2013.07.30', 1),
 ('2013.07.22', 1),
 ('2013.07.19', 1),
 ('2013.07.17', 1),
 ('2013.07.15', 1),
 ('2013.07.14', 1),
 ('2013.07.11', 1),
 ('2013.07.07', 1),
 ('2013.07.02', 1),
 ('2013.06.30', 1),
 ('2013.06.27', 1),
 ('2013.06.18', 1),
 ('2013.06.17', 1),
 ('2013.06.16', 1),
 ('2013.06.15', 1),
 ('2013.06.14', 1),
 ('2013.05.04', 1),
 ('2013.04.28', 1),
 ('2013.04.24', 1),
 ('2013.04.21', 1),
 ('2013.04.17', 1),
 ('2013.04.14', 1),
 ('2013.04.10', 1),
 ('2013.04.04', 1),
 ('2013.03.31', 1),
 ('2013.03.29', 1),
 ('2013.03.12', 1),
 ('2013.03.03', 1),
 ('2013.02.27', 1),
 ('2013.02.10', 1),
 ('2013.02.09', 1),
 ('2013.02.01', 1),
 ('2013.01.26', 1),
 ('2013.01.25', 1),
 ('2013.01.21', 1),
 ('2013.01.16', 1),
 ('2013.01.13', 1),
 ('2013.01.05', 1),
 ('2012.12.31', 1),
 ('2012.12.30', 1),
 ('2012.12.28', 1),
 ('2012.12.25', 1),
 ('2012.12.19', 1),
 ('2012.12.05', 1),
 ('2012.12.02', 1),
 ('2012.12.01', 1),
 ('2012.11.30', 1),
 ('2012.11.27', 1),
 ('2012.11.22', 1),
 ('2012.11.19', 1),
 ('2012.10.30', 1),
 ('2012.10.27', 1),
 ('2012.10.23', 1),
 ('2012.10.19', 1),
 ('2012.10.16', 1),
 ('2012.10.11', 1),
 ('2012.10.10', 1),
 ('2012.10.02', 1),
 ('2012.09.25', 1),
 ('2012.09.24', 1),
 ('2012.09.16', 1),
 ('2012.09.10', 1),
 ('2012.09.09', 1),
 ('2012.09.04', 1),
 ('2012.08.31', 1),
 ('2012.08.28', 1),
 ('2012.08.26', 1),
 ('2012.08.15', 1),
 ('2012.08.11', 1),
 ('2012.08.08', 1),
 ('2012.08.06', 1),
 ('2012.08.04', 1),
 ('2012.07.24', 1),
 ('2012.07.21', 1),
 ('2012.07.19', 1),
 ('2012.07.14', 1),
 ('2012.07.08', 1),
 ('2012.07.06', 1),
 ('2012.06.28', 1),
 ('2012.06.20', 1),
 ('2012.06.19', 1),
 ('2012.06.18', 1),
 ('2012.06.15', 1),
 ('2012.06.12', 1),
 ('2012.06.10', 1),
 ('2012.06.03', 1),
 ('2012.05.31', 1),
 ('2012.05.29', 1),
 ('2012.05.23', 1),
 ('2012.05.20', 1),
 ('2012.05.16', 1),
 ('2012.05.12', 1),
 ('2012.05.09', 1),
 ('2012.05.06', 1),
 ('2012.04.11', 1),
 ('2012.04.03', 1),
 ('2013.04.01', 1),
 ('2012.03.31', 1),
 ('2012.03.24', 1),
 ('2012.03.22', 1),
 ('2012.03.20', 1),
 ('2012.03.15', 1),
 ('2012.03.05', 1),
 ('2012.03.04', 1),
 ('2012.03.03', 1),
 ('2012.03.01', 1),
 ('2012.02.26', 1),
 ('2012.02.25', 1),
 ('2012.02.20', 1),

In [15]:
data['Case Number'] = data['Case Number'].apply(lambda x:x.replace("-",".").replace(",",".").replace("/","."))
data['Case Number.1'] = data['Case Number.1'].apply(lambda x:x.replace("-",".").replace(",",".").replace("/","."))
data['Case Number.2'] = data['Case Number.2'].apply(lambda x:x.replace("-",".").replace(",",".").replace("/","."))
data = data.drop_duplicates()

In [16]:
#dataframe qui ne contient que les différences
corr1 = data[data['Case Number'].eq(data['Case Number.1']) == False]
corr2 = data[data['Case Number'].eq(data['Case Number.2']) == False]
listeerr = [corr1, corr2]
corrCaseNum = pd.concat(listeerr)
corrCaseNum = corrCaseNum.drop_duplicates()
corrCaseNum[['Case Number', 'Case Number.1','Case Number.2', 'datecorr2', 'Year']]

       Case Number Case Number.1 Case Number.2   datecorr2  Year
4       2016.09.15    2016.09.16    2016.09.15  2016.09.16  2016
33    2016.07.14.4  2016.07.14.R  2016.07.14.4  2016.07.14  2016
97    2016.01.24.b  2015.01.24.b  2016.01.24.b  2016.01.24  2016
116     2015.12.23    2015.11.07    2015.12.23  2015.11.07  2015
121   2015.10.28.a    2015.10.28  2015.10.28.a  2015.10.28  2015
3654  1961.09.02.R  1961.09.06.R  1961.09.02.R  1961.09.06  1961
4177    1952.08.05    1952.08.04    1952.08.05  1952.08.05  1952
4719  1934.01.08.R  1934.02.08.R  1934.02.08.R  1934.02.08  1934
5043  1900.00.00.R  1919.00.00.R  1900.00.00.R  2099.01.01  1919
5150  1911.07.31.R  1911.07.31.T  1911.07.31.R  1911.07.31  1911

In [17]:
#à partir des différences, comparaison des dates dans les différents champs :
#on isole les dates
corrCaseNum['DateCaseNb'] = corrCaseNum['Case Number'].apply(lambda x: x[:10])
corrCaseNum['DateCaseNb1'] = corrCaseNum['Case Number.1'].apply(lambda x: x[:10])
corrCaseNum['DateCaseNb2'] = corrCaseNum['Case Number.2'].apply(lambda x: x[:10])
#on crée un nouveau dataframe
#corrCaseNum = pd.concat([DateCaseNb, DateCaseNb1, DateCaseNb2, corrCaseNum['datecorr2']], axis = 1)

In [22]:
comptdate = corrCaseNum[['DateCaseNb', 'DateCaseNb1', 'DateCaseNb2', 'datecorr2']].apply(lambda x: Counter(x).most_common(1)[0], axis = 1)
datemaj = [x[0] for x in comptdate]
print(datemaj)
comptdate
#data.drop(data.loc[corrCaseNum.index,'Case Number'], inplace = True)
#print(data.head(5))

['2016.09.15', '2016.07.14', '2016.01.24', '2015.12.23', '2015.10.28', '1961.09.02', '1952.08.05', '1934.02.08', '1900.00.00', '1911.07.31']

4       (2016.09.15, 2)
33      (2016.07.14, 4)
97      (2016.01.24, 3)
116     (2015.12.23, 2)
121     (2015.10.28, 4)
3654    (1961.09.02, 2)
4177    (1952.08.05, 3)
4719    (1934.02.08, 3)
5043    (1900.00.00, 2)
5150    (1911.07.31, 4)
dtype: object

In [44]:
occurrences = []
for i in comptdate.index:
    data.drop(data['Case Number'][i])
    for j in data['Case Number']:
        if j[:10] == str(comptdate[i][0][:10]):
            occurrences.append(j)
print(occurrences)

KeyError: "['2016.09.15'] not found in axis"

In [19]:
before = corrCaseNum['Case Number']

for x in comptdate.index:
    if comptdate[x][1] >=3:
        if "Reported" in data.loc[x,'Date']:
            corrCaseNum['Case Number'][x] = str(comptdate[x][0]) + '.R'
        else:
            corrCaseNum['Case Number'][x] = str(comptdate[x][0])
after = corrCaseNum['Case Number']
print(before)
print(after)

C:\Users\lleki\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\lleki\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

4         2016.09.15
33      2016.07.14.R
97        2016.01.24
116       2015.12.23
121       2015.10.28
3654    1961.09.02.R
4177      1952.08.05
4719    1934.02.08.R
5043    1900.00.00.R
5150    1911.07.31.R
Name: Case Number, dtype: object
4         2016.09.15
33      2016.07.14.R
97        2016.01.24
116       2015.12.23
121       2015.10.28
3654    1961.09.02.R
4177      1952.08.05
4719    1934.02.08.R
5043    1900.00.00.R
5150    1911.07.31.R
Name: Case Number, dtype: object

In [ ]:
data = pd.read_csv('GSAF5.csv', encoding = 'latin')

In [47]:
#cpt = 0
#for i in corrCaseNum['Case Number']:
#    corrCaseNum['dateCase Number'] = i[:10]
#    corrCaseNum['dateCase Number.1'] = corrCaseNum.loc[corrCaseNum.index[cpt], 'Case Number.1'][:10]
#    corrCaseNum['dateCase Number.2'] = corrCaseNum.loc[corrCaseNum.index[cpt], 'Case Number.2'][:10]
#    if i[:10] == corrCaseNum.loc[corrCaseNum.index[cpt], 'datecorr2'][:10]:
#        print(i[:10])
#    cpt +=1
DumDateCaseNb = pd.get_dummies(corrCaseNum['Case Number'].apply(lambda x: x[:10]))
DumDateCaseNb1 = pd.get_dummies(corrCaseNum['Case Number.1'].apply(lambda x: x[:10]))
DumDateCaseNb2 = pd.get_dummies(corrCaseNum['Case Number.2'].apply(lambda x: x[:10]))
DumDatecorr = pd.get_dummies(corrCaseNum['datecorr2'])
ErrDate1 = pd.merge(DumDateCaseNb, DumDateCaseNb1, left_index=True, right_index=True)
ErrDate2 = pd.merge(DumDateCaseNb2, DumDatecorr, left_index=True, right_index=True)

#corrCaseNum[['Case Number', 'Case Number.1','Case Number.2', 'datecorr2', 'Year']]
#ErrCaseNb = pd.get_dummies(corrCaseNum['Case Number'])
#ErrCaseNb1 = pd.get_dummies(corrCaseNum['Case Number.1'])
#ErrCaseNb2 = pd.get_dummies(corrCaseNum['Case Number.2'])
#ErrDatecorr = pd.get_dummies(corrCaseNum['datecorr2'])
#ErrData1 = pd.merge(ErrCaseNb, ErrCaseNb1, left_index=True, right_index=True)
#ErrData2 = pd.merge(ErrCaseNb2, ErrDatecorr, left_index=True, right_index=True)
#ErrData = pd.merge(ErrData1, ErrData2, left_index=True, right_index=True)
#ErrData.loc[ErrData.index,'False_x']
print(ErrDate1)

      1900.00.00  1911.07.31_x  1934.01.08  1952.08.05  1961.09.02  \
4              0             0           0           0           0
33             0             0           0           0           0
97             0             0           0           0           0
116            0             0           0           0           0
121            0             0           0           0           0
3654           0             0           0           0           1
4177           0             0           0           1           0
4719           0             0           1           0           0
4719           0             0           1           0           0
4719           0             0           1           0           0
4719           0             0           1           0           0
5043           1             0           0           0           0
5150           0             1           0           0           0

      2015.10.28_x  2015.12.23  2016.01.24  2016.07.14_x  2016.09.15  \
4                0           0           0             0           1
33               0           0           0             1           0
97               0           0           1             0           0
116              0           1           0             0           0
121              1           0           0             0           0
3654             0           0           0             0           0
4177             0           0           0             0           0
4719             0           0           0             0           0
4719             0           0           0             0           0
4719             0           0           0             0           0
4719             0           0           0             0           0
5043             0           0           0             0           0
5150             0           0           0             0           0

      1911.07.31_y  1919.00.00  1934.02.08  1952.08.04  1961.09.06  \
4                0           0           0           0           0
33               0           0           0           0           0
97               0           0           0           0           0
116              0           0           0           0           0
121              0           0           0           0           0
3654             0           0           0           0           1
4177             0           0           0           1           0
4719             0           0           1           0           0
4719             0           0           1           0           0
4719             0           0           1           0           0
4719             0           0           1           0           0
5043             0           1           0           0           0
5150             1           0           0           0           0

      2015.01.24  2015.10.28_y  2015.11.07  2016.07.14_y  2016.09.16
4              0             0           0             0           1
33             0             0           0             1           0
97             1             0           0             0           0
116            0             0           1             0           0
121            0             1           0             0           0
3654           0             0           0             0           0
4177           0             0           0             0           0
4719           0             0           0             0           0
4719           0             0           0             0           0
4719           0             0           0             0           0
4719           0             0           0             0           0
5043           0             0           0             0           0
5150           0             0           0             0           0

In [ ]:
str(data['Case Number']) == str(data['datecorr2'])

In [ ]:
#supprime les colonnes inutiles
data.drop(['Unnamed: 22', 'Unnamed: 23', 'href formula'], axis = 1, inplace = True)

In [ ]:
#null_cols = data.isnull().sum()
#null_cols[null_cols > 0]
def num_missing(x):
    return sum(x.isnull())
print("Valeurs manquantes par colonne :")
print(data.apply(num_missing, axis=0))

In [ ]:
data.iloc[57,:]

In [ ]:
data.dtypes

In [ ]:
data['Age'] = data['Age'].fillnull(0).astype('int')

In [ ]:
ErrRestantesvspdf = data['href formula'].eq('http://sharkattackfile.net/spreadsheets/pdf_directory/' + data['pdf']) == False
ErrRestantesvsformula = data['href formula'].eq(data['href']) == False
Errpdf = pd.get_dummies(ErrRestantesvspdf)
Errformula = pd.get_dummies(ErrRestantesvsformula)
ErrData = pd.merge(Errpdf, Errformula, left_index=True, right_index=True)#.columns = ['False_pdf','True_pdf','False_formula','True_pdf']
ErrData.loc[ErrData.index,'False_x']
print(ErrData)

In [ ]:
data.describe(include='all').transpose

In [ ]:
Counter(data['Injury']).most_common()

In [ ]:
## HELP

#liste_traitee = re.compile('[a-z]',data['Injury'])
#print(liste_traitee)

bag_of_words = []
caract_virer = ';.!?\n'
liste = re.compile(caract_virer)
print(liste)
liste_injury = [i for i in str(data['Injury']).replace('\n',' ').replace('.',' ').replace('"',' ').replace('\W',' ').split(' ')]
list_of_words = [i.lower() for i in liste_injury if i.lower() not in stop_words.ENGLISH_STOP_WORDS]
bag_of_words = list(set(list_of_words))
print(bag_of_words)


#term_freq = []
#for word in bag_of_words:
#    term_freq.append(str(data['Injury']).count (word))
#print(term_freq)

In [ ]:
data.loc[(data['Country'] == "REUNION"), ['Country', 'Area', 'Location']]

In [ ]:
data.loc[data['Case Number'] == None]

In [ ]:
#fonction qui uniformise le format de date :
#remplace les années sur 2 chiffres en années sur 4 chiffres
#remplace les mois en lettres par des mois en chiffres

def unifdate(date):
    dateunif = []
    for i in date:
        if len(str(i)) == 9:
            i = i.replace('-0','-200').replace('-1','-201')
        if len(str(i)) == 9:
            i = i.replace('-2','-192').replace('-3','-193').replace('-4','-194').replace('-5','-195').replace('-6','-196').replace('-7','-197').replace('-8','-198').replace('-9','-199')
        #i = str(i).replace('Jan','01').replace('Feb','02').replace('Mar','03').replace('Apr','04').replace('May','05').replace('Jun','06').replace('Jul','07').replace('Aug','08').replace('Sep','09').replace('Oct','10').replace('Nov','11').replace('Dec','12')
        #i = str(i).replace('-','/')

        dateunif.append (i)
    dateformatee = pd.DataFrame(dateunif)
    return dateformatee
re.findall(r'([0-9]{2}/[0-9]{2}/[0-9]{4})',str(data['datecorr2']))

data['datecorr2'] = unifdate(data['datecorr2'])
data['datecorr2'] = pd.to_datetime(data['datecorr2'])