In [30]:
import pandas as pd
Enquete = pd.DataFrame({'Hommes': [29,81], 'Femmes': [12,39]},
                      index = ['AVEC casque', 'SANS casque'])
Enquete

             Hommes  Femmes
AVEC casque      29      12
SANS casque      81      39

In [31]:
from scipy.stats import fisher_exact

pvalue = fisher_exact(Enquete)
pvalue

(1.1635802469135803, 0.8461366632322784)

In [39]:
Enquete = Enquete.T
Enquete['Total'] = Enquete['AVEC casque'] + Enquete['SANS casque']
Enquete['ratio SANS'] = Enquete['SANS casque'] / Enquete['Total']
Enquete

              AVEC casque  SANS casque       Total  ratio SANS
Hommes          29.000000       81.000  110.000000    0.736364
Femmes          12.000000       39.000   51.000000    0.764706
Total           41.000000      120.000  161.000000    0.745342
ratio femmes     0.292683        0.325    0.617683    0.526160

In [38]:
Enquete['Total'] = Enquete['Hommes'] + Enquete['Femmes']
Enquete['ratio femmes'] = Enquete['Femmes'] / Enquete['Total']
Enquete

             Hommes  Femmes  Total  ratio femmes
AVEC casque      29      12     41      0.292683
SANS casque      81      39    120      0.325000

In [ ]:
Enquete.drop(['Total', 'ratio femmes'], axis = 1, inplace = True)